/* Utilities */

.flex {
  display: flex !important;
}
.flex-col {
  flex-direction: column !important;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
